.blue {
  background-color: lightskyblue;
}

.pink {
  background-color: lightpink;
}

:host {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .product-item {
    border: solid 1px black;
    text-align: center;

    h3 {
      background-color: darkcyan;
    }

    img {
      width: 100%;
    }
  }
}
