:host {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
  }

  ul {
    display: flex;
    list-style: none;

    .blue {
      background-color: lightskyblue;
    }

    .pink {
      background-color: lightpink;
    }

    li {
      width: 30%;
      border: solid 1px black;
      text-align: center;

      h3 {
        background-color: darkcyan;
      }

      img {
        width: 100%;
      }
    }
  }
}
